*{
    margin: 10;
    padding: 0;
}

.body{
    background: #3333;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.cover{
    width: 900px;
    height: 400px;
    margin-top: 50px;
    display: flex;
}
.box{
    margin: 10px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    /* background-color: rgb(144, 51, 51); */
    align-items: center;
    justify-content: center;
    text-align: center;
}
img{
    width: 300px;
    height: 200px;
    display: flex;
}

/* #screenFiller {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 15px solid orange;
    margin-left:  200px;
} */